body {
  background-color: lightgoldenrodyellow;
}
h1 {
  color: #28df99;
}
h3{
  color: #28df99;
}
hr {
  border-top-color: green;
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-width: 5px;
}
